.demo {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.demo button {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #534b73 ;
    text-align: center;
    padding: 1em;
    border-radius: 15%;
    border: none;
    color: white;
}

.demo button:hover {
    background-color: #c0151a;
}