.demo {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20%;
}

.demo button {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #534b73 ;
    text-align: center;
    padding: 1em;
    border-radius: 15%;
    border: none;
    color: white;
}

.demo h4 {
    margin-top: 2em;
}

.lletra {
    margin-bottom: 15%;
}

.demo button:hover {
    background-color: #c0151a;
}

#imatges {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

#imatges img {
    min-width: 10%;
    max-width: 30%;
}